<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css') }}">
    <title>Página de Login</title>
</head>
<body>
    <div id="container">
        <div id="container-background">
            <img class="background" id="triangle-left" src="{{ url_for('static', filename='img/TriangleLeft.png') }}" alt="">
            <div class="background" id="icon-left">
                <img id="icon-left-img" src="{{ url_for('static', filename='img/LogoBackgroundYellow.png') }}" alt="">
                <p id="icon-left-text">Chronora</p>
            </div>
            <img class="background" id="bar-right" src="{{ url_for('static', filename='img/BarDescending.png') }}" alt="">
            <img class="background" id="bar-left" src="{{ url_for('static', filename='img/BarAscending.png') }}" alt="">
            <img class="background" id="comb-right" src="{{ url_for('static', filename='img/Comb1.png') }}" alt="">
            <img class="background" id="comb-left" src="{{ url_for('static', filename='img/Comb2.png') }}" alt="">
        </div>
        <div id="container-form">
            <h1>Bem vindo de volta!</h1>
            <form id="login-form">
                <input type="email" name="email" id="input-email" placeholder="E-mail" required>
                <input type="password" name="senha" id="input-password" placeholder="Senha" required>

                <div id="bottom-inputs-container">
                    <input type="checkbox" name="remember-me" id="checkbox-remeber-me" class="checkbox">
                    <label for="checkbox-remeber-me">Lembre-se de mim</label>
                    <a href="{{ url_for('forgot_password') }}" id="a-forgot-password">Esqueceu a senha?</a> 
                </div>

                <button type="submit" id="btn-login">Entrar</button>
            </form>

            <a href="{{ url_for('account_creation') }}" id="a-register"><button id="btn-register">Criar Conta</button></a> 
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/Login.js') }}"></script>
</body>
</html>